.banking-container {
    text-align: center;
    padding: 50px;
  }
  
  .banking-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .banking-container p {
    color: #6c757d;
    margin-bottom: 30px;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .connect-button,
  .add-manually-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .connect-button {
    background-color: #007bff;
    color: white;
  }
  
  .add-manually-button {
    background-color: #e0e0e0;
    color: black;
  }
  
  .skip-link {
    font-size: 14px;
    color: #6c757d;
  }
  
  .skip-link span {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .watch-video {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    color: #007bff;
  }
  
  .watch-video i {
    font-size: 20px;
  }
  

  /* //-----pagination--------------------------------------- */

  .paginationaldes {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: auto; /* Enables horizontal scrolling */
    scrollbar-width: thin; /* For Firefox: Makes scrollbar thin */
    scroll-behavior: smooth; /* Smooth scrolling for better UX */
  }
  
  .paginationaldes::-webkit-scrollbar {
    height: 6px; /* Height of the horizontal scrollbar */
  }
  
  .paginationaldes::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded edges for the scrollbar */
  }
  
  .paginationaldes::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Thumb color on hover */
  }
  
  .centree {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
  }


  .imagescroll{

    /* background-color: #007bff; */
    height: 450px;
    overflow-y: auto;
  }


  .delivery-address-container {
    padding: 10px;
  }
  
  .label {
    color: red;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .customer-info {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .customer-name {
    color: #000;
    margin-right: 5px;
  }
  
  .link-icon {
    color: blue;
    cursor: pointer;
  }
  
  .address-details p {
    color: gray;
    margin: 0;
    font-size: 14px;
  }
  
  .change-destination {
    color: blue;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
  }
  